.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    padding: 15px 20px;
  }
  
  .navbar-logo a {
    color: var(--text-color);
    font-size: 2em;
    text-decoration: none;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-links li {
    font-size: 1.2em;
  }
  
  .navbar-links a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  .navbar-links a:hover {
    color: var(--link-hover-color);
  }
  